/* Self-assessment */
.slide.evaluation p {
  margin-left: 0;
}

.slide.evaluation ol > li {
  cursor: pointer;
}
.slide.evaluation ol > li:hover {
  color: #CC4320;
}
.slide.evaluation ol > li > ul {
  margin-left: 0;
  max-height: 0;
  overflow: hidden;
}
.slide.evaluation ol > li > ul {
  margin-left: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s;
}
.slide.evaluation ol > li.selected > ul {
  max-height: 6em;
  transition: max-height 1s;
}
.slide.evaluation ol > li.selected,
.slide.evaluation ol > li > ul * {
  color: #c40909;
}
.slide.evaluation ol > li.correct.selected,
.slide.evaluation ol > li.correct > ul * {
  color: #5a9310;
}

/* Do and dont's */
.do, .dont {
  width: 48%;
  float: left;
}
.dont {
  margin-right: 4%;
}
.do h3 {
  color: #08719C;
  margin-bottom: 0;
}
.dont h3 {
  color: #CC4320;
  margin-bottom: 0;
}
.do *, .dont * {
  margin-left:  0 !important;
  padding-left: 0 !important;
}
.do code {
  width: auto !important;
  text-align: left;
}
.do .example, .dont .example {
  min-height: 210px;
}
.do ul li, .dont ul li {
  margin: 0;
  font-weight: normal;
  font-style: italic;
  color: #979A9E;
}

/* Browser window */
.browser {
  background: url(../images/browser.jpg) top center / 100% no-repeat;
  height: 500px;
  border-radius: 12px;
  box-shadow:  5px  5px 10px rgba(0, 0, 0, .4),
              -2px  5px 10px rgba(0, 0, 0, .4);
}
.browser .address-bar {
  position: relative;
  top: 59px;
  left: 116px;
  font-size: 26px;
}
.browser .body {
  position: relative;
  top: 83px;
  height: 400px;
  text-align: center;
}
.browser .body * {
  margin-left: 0;
}

/* Full-screen navigation for touch */
.handle::before {
  display: block;
  content: " ";
  position: absolute;
  background: rgba(255, 255, 255, 0);
  width: 100%;
  height: 25%;
  left: 0;
  bottom: 10%;
}
